<!doctype html>
<html>
  <head>
    <title>About <%=appData.appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <div>
      <h1>About <%=appData.appName%></h1>
      <p>Cocktail Canvas is your all in one home for designing your next cocktail menu. 
      Keep track of menus you've made previously, 
      get highlights on your menu as you build it with insight on glassware and spirit bases, 
      and effortlessly create drinks or search the web for recipes and ideas!</p>
    </div>
    
      <!--about stats-->
      <div class="stat-block">
        <!--User stat section-->
        <p class="stat-heading">Users: <%=user_count%></p>

        <!--menu stat section-->
        <p class="stat-heading">Menus: <%=menu_count%></p>

        <p>______________________________</p>
      </div>
  </body>
</html>