<!doctype html>
<html>
  <head>
    <title>Error <%=appData.appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <div>
      <h1>Error! </h1>
      <p></p><%=message%>
  </body>
</html>