<!doctype html>
<html>
  <head>
    <title>Error <%=appData.appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <nav class="topnav">
      <ul>
        <li><a href="../"><%=appData.appName%></a></li>
        <li><a href="../list">Lists</a></li> <!--todo-->
        <li><a href="../search">Search</a></li> <!--todo-->
        <li><a href="../menus/editlist">Edit Menus</a></li> <!--todo-->
        <li><a href="../menus/create">Create Menu</a></li>
        <li><a href="../about">About</a></li>
      <!--if no user, show login-->
      <% if(user == null){ %>
          <li class="right"><a href="users/login">Log in</a></li>
      <!--if user exists, show logout-->
      <% } else { %>
          <li class="right"><a href="logout">Logout</a></li>
          <% } %>
      </ul>
    </nav>
    <main>
      <h1>Error! </h1>
      <p><%=message%></p>
    </main>
  </body>
</html>