<!doctype html>
<html>
  <head>
    <title>Welcome to <%=appData.appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=appData.appName%></h1>
    <p><a href="about">About <%=appData.appName%></a></p>
    <p><a href="users/register">Register with us</a></p>
    <p><a href="users/login">Login with us</a></p>
    <p><a href="logout">Logout here</a></p>
  </body>
</html>
