<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to <%=appData.appName%></title>
		<link rel="stylesheet" type="text/css" href="/main.css" />
	</head>
	<body>
		<header>
			<!--top navigation bar, with reactive login/logout-->
			<nav class="topnav">
				<ul>
					<li>
						<a class="active" href="./"><%=appData.appName%></a>
					</li>
					<li><a href="list">Lists</a></li>

					<li><a href="search">Search</a></li>

					<li><a href="menus/editlist">Edit Menus</a></li>

					<li><a href="menus/create">Create Menu</a></li>
					<li><a href="about">About</a></li>
					<!--if no user, show login-->
					<% if(user == null){ %>
					<li class="right"><a href="users/login">Log in</a></li>
					<!--if user exists, show logout-->
					<% } else { %>
					<li class="right"><a href="logout">Logout</a></li>
					<% } %>
				</ul>
			</nav>
		</header>
		<main>
			<!--headings-->
			<div class="flex-container centred">
				<% if(user != null) { %>
				<h2 class="subheading full-width">Welcome back <%=user%>!</h2>
				<% } else { %>
				<h2 class="subheading full-width">
					You are not logged in! <br />
					<a href="users/login">Log in</a> or
					<a href="users/register">Register with us</a> to start
					creating your menus today!
				</h2>
				<% } %>
				<p>
					Below is a directory of a few things you can do here on
					Cocktail Canvas, enjoy!
				</p>
				<!--list of links from index page-->
				<a class="basic-button full-width" href="about"
					>About <%= appData.appName %></a
				>
				<a class="basic-button full-width" href="list">List</a>
				<a class="basic-button full-width" href="search">Search</a>
				<a class="basic-button full-width" href="menus/editlist"
					>Edit Menu</a
				>
				<a class="basic-button full-width" href="menus/create"
					>Create Menu</a
				>
				<a class="basic-button full-width" href="users/register"
					>Register with us</a
				>
				<a class="basic-button full-width" href="users/login"
					>Login with us</a
				>
				<a class="basic-button full-width" href="logout">Logout here</a>
				<a class="basic-button full-width" href="api"
					>Explore our RESTFUL API</a
				>
			</div>
		</main>
	</body>
</html>
