<!doctype html>
<html>
  <head>
    <title>Welcome to <%=appData.appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <!--top nav header with login bar based on session data-->
    <header>
      <nav class="topnav">
        <ul>
          <li><a class="active" href="./"><%=appData.appName%></a></li>
          <li><a href="list">Lists</a></li> <!--todo-->
          <li><a href="search">Search</a></li> <!--todo-->
          <li><a href="menus/editlist">Edit Menus</a></li> <!--todo-->
          <li><a href="menus/create">Create</a></li>
          <li><a href="about">About</a></li>
        <!--if no user, show login-->
        <% if(user == null){ %>
            <li class="right"><a href="users/login">Log in</a></li>
        <!--if user exists, show logout-->
        <% } else { %>
            <li class="right"><a href="logout">Logout</a></li>
            <% } %>
        </ul>
      </nav>
    </header>
    <main>
      <% if(user != null) { %>
        <h2>Welcome back <%=user%>!</h2>
      <% } %>
      <p><a href="about">About <%=appData.appName%></a></p>
      <p><a href="users/register">Register with us</a></p>
      <p><a href="users/login">Login with us</a></p>
      <p><a href="logout">Logout here</a></p>
    </main>
  </body>
</html>
