<!doctype html>
<html>
  <head>
    <title>Log in for <%=appData.appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <!--top navigation bar, with reactive login/logout-->
    <nav class="topnav">
      <ul>
        <li><a href="../"><%=appData.appName%></a></li>
        <li><a href="../list">Lists</a></li> 
        <li><a href="../search">Search</a></li> 
        <li><a href="../menus/editlist">Edit Menus</a></li> 
        <li><a href="../menus/create">Create Menu</a></li>
        <li><a href="../about">About</a></li>
      <!--if no user, show login-->
      <% if(user == null){ %>
          <li class="right"><a class="active" href="../users/login">Log in</a></li>
      <!--if user exists, show logout-->
      <% } else { %>
          <li class="right"><a class="active" href="../logout">Logout</a></li>
          <% } %>
      </ul>
    </nav>
    
    <main>
      <div class="flex-container centred">
        <!--error message displays if redirected with failed login-->
        <% if(loginFailed == true) { %>
          <p>Account not found, or incorrect details, please try again.</p>
        <% } %>
        <% if(errors && errors.length > 0) { %>
          <% for(let i=0; i<errors.length; i++) { %>
            <p class="full-width">Error: <%=errors[i].msg%></p>
          <% } %>
        <% } %>
        <!--login form-->
        <h1 class="full-width">Log in for <%=appData.appName%></h1>
        <form method="POST" action="./login">
          <p>Username: <input id="username" type="text" name="username" value="" maxlength="16" /></p>
          <p>Password: <input id="password" type="password" name="password" value="" maxlength="24" /></p>
          <input class="basic-button" type="submit" value="Log In" />
        </form>
      </div>
    </main>
  </body>
</html>