<!doctype html>
<html>
  <head>
    <title>Log in for <%=appData.appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <!--error message displays if redirected with failed login-->
    <% if(loginFailed == true) { %>
      <p>Account not found, or incorrect details, please try again.</p>
    <% } %>

    <h1>Log in for <%=appData.appName%></h1>
    <form method="POST" action="login">
        <p>Username: <input id="username" type="text" name="username" value="" maxlength="20" /></p>
        <p>Password: <input id="password" type="password" name="password" value="" maxlength="64" /></p>
        <input type="submit" value="Log In" />
      </form>
  </body>
</html>