<!doctype html>
<html>
  <head>
    <title>Search: Cocktail Canvas<%=appData.appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <script src="/searchscripts.js"></script>
  </head>
  <body>
    <!--top nav header with login bar based on session data-->
    <header>
      <nav class="topnav">
        <ul>
          <li><a href="./"><%=appData.appName%></a></li>
          <li><a href="list">Lists</a></li> <!--todo-->
          <li><a class="active" href="search">Search</a></li> <!--todo-->
          <li><a href="menus/editlist">Edit Menus</a></li> <!--todo-->
          <li><a href="menus/create">Create</a></li>
          <li><a href="about">About</a></li>
        <!--if no user, show login-->
        <% if(user == null){ %>
            <li class="right"><a href="users/login">Log in</a></li>
        <!--if user exists, show logout-->
        <% } else { %>
            <li class="right"><a href="logout">Logout</a></li>
            <% } %>
        </ul>
      </nav>
    </header>
    <main>
      <% if(user != null) { %>
        <h2>Welcome back <%=user%>!</h2>
      <% } %>
      <div class="flex-container centred">
		    <!--list page heading-->
        <div class="full-width">
          <h1 class="heading">Search Cocktail Canvas:</p>
            <p class="subheading">What would you like to search for?</p>
        </div>

        <div class="list-button-div full-width">
          <button class="list-button" onclick="setUserSearch()">User</button>
          <button class="list-button" onclick="setMenuSearch()">Menu</button>
          <button class="list-button" onclick="setDrinkSearch()">Drink</button>
        </div>

        <form id="searchForm" method="POST" action="searchresult">
          <input id="type" name="type" value="" type="hidden">
          <label id="searchLabel" style="display: none;">Search for: </label>  
          <input id="searchQuery" type="text" name="keyword" placeholder="" maxlength="50" style="display: none;"/>
          <input id="searchButton" type="submit" value="Search" style="display: none;"/> 
      </form>
      </div>
    </main>
  </body>
</html>
