
/*main elements*/
body {
  background-color: #292b29;
  margin: 0;
  height: 100%;
}

main {
  background-color: #202320;
  margin-left: 10%;
  margin-right: 10%;
  height: 90vh;
  padding: 3vw
}

div.flex-container {
  display: flex;
  flex-wrap: wrap;
}

div.centred {
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.full-width {
  width: 100%;
}

/*adapted from w3schools navbar examples */
nav.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #121412;
}

nav.topnav ul li {float: left;}

nav.topnav ul li a {
  display: block;
  color: rgb(205, 205, 205);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav.topnav ul li a:hover:not(.active) {
  scale: 1.1;
  transition: 0.3s;
  background-color: #2b3229;
}

nav.topnav ul li a.active {
  background-color: #23331f;
  scale: 1.1;
  border: 1px solid black;
}

nav.topnav ul li.right {float: right;}

@media screen and (max-width: 600px) {
  nav.topnav ul li.right, 
  nav.topnav ul li {float: none;}
}
/* end navbar */

p {
  color: aliceblue;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(0, 105, 24);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: cadetblue;
}

p,li {
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: orangered;
    text-decoration: none;
    padding:5px;
  }
  
  /* visited link */
  a:visited {
    color: tomato;
    text-decoration: none;
    padding:5px;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
    background-color: orangered;
    padding:5px;
  }

  
  /*list page*/
  #list-heading {
    font-size: 2vw;
  }

  .list-button {
    background-color: #121412;
    color: rgb(205, 205, 205);
    text-align: center;
    width: 10vw;
    height: 5vw;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
  }

  .list-button:hover:not(.activeNow){
    scale: 1.1;
    transition: 0.3s;
    background-color: #2b3229;
  }

  .list-button.activeNow{
    scale: 1.1;
    background-color: #2b3229;
    border: 1px solid black;
  }

  