/*main elements*/
body {
	background-color: #292b29;
	margin: 0;
	height: 100%;
}

main {
	background-color: #202320;
	margin-left: 10%;
	margin-right: 10%;
	min-height: 100vh;
	padding: 3vw;
}

div.flex-container {
	display: flex;
	flex-wrap: wrap;
}

div.centred {
	justify-content: center;
	align-items: center;
	text-align: center;
}

.full-width {
	width: 100%;
}

.basic-button {
  background-color: #121412;
  color: rgb(205, 205, 205);
  text-align: center;
  border: none;
  padding: 10px;
}

.basic-button:hover {
  scale: 1.05;
  transition: 0.3s;
  background-color: #2b3229;
}

.column-container {
	display: flex;
	flex-direction: column;
}

/*adapted from w3schools navbar examples */
nav.topnav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #121412;
}

nav.topnav ul li {
	float: left;
}

nav.topnav ul li a {
	display: block;
	color: rgb(205, 205, 205);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav.topnav ul li a:hover:not(.active) {
	scale: 1.1;
	transition: 0.3s;
	background-color: #2b3229;
}

nav.topnav ul li a.active {
	background-color: #23331f;
	scale: 1.1;
	border: 1px solid black;
}

nav.topnav ul li.right {
	float: right;
}

@media screen and (max-width: 600px) {
	nav.topnav ul li.right,
	nav.topnav ul li {
		float: none;
	}
}
/* end navbar */

p {
	color: aliceblue;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: rgb(0, 105, 24);
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: cadetblue;
}

p,
li {
	font-family: Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
}

.heading {
	font-size: 2vw;
}

.subheading {
	font-size: 1.5vw;
	color: rgb(71, 122, 83);
}

/*list page*/
.list-button {
	background-color: #121412;
	color: rgb(205, 205, 205);
	text-align: center;
	width: 10vw;
	height: 5vw;
	border: none;
	margin-left: 10px;
	margin-right: 10px;
}

.list-button:hover:not(.activeNow) {
	scale: 1.1;
	transition: 0.3s;
	background-color: #2b3229;
}

.list-button.activeNow {
	scale: 1.1;
	background-color: #2b3229;
	border: 1px solid black;
}

.list-div {
	flex-wrap: wrap;
	justify-content: center;
	width: 50%;
}

.list-div ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

/* cocktail item */
.stat-heading {
	width: 100%;
	flex-shrink: 0;
}

.cocktail-item-name {
	font-family: "Courier New", Courier, monospace;
	font-size: 1.5vw;
	margin: 3px;
}

.ingredient-list-item {
	margin: 0;
	padding: 0;
}
.cocktail-item-div {
	background-color: #3a4337;
	flex-shrink: 0;
	width: 100%;
	align-content: center;
	margin: 10px 0px 0px 0px;
	padding: 0px;
}

div.left-flex {
	display: flex;
	justify-content: left;
	flex-direction: column;
	text-align: left;
}

.drink-button {
	background-color: #2b3229;
	color: rgb(205, 205, 205);
	text-align: center;
	border: none;
	width: 100%;
}
/* menu-item */
.menu-div {
	background-color: #2b3229;
	flex-shrink: 0;
	width: 100%;
	align-content: center;
	margin: 5px 0px 0px 0px;
}

.menu-div p {
	margin: 5px;
}

.menu-name {
	font-family: "Courier New", Courier, monospace;
	font-size: 1.5vw;
}

a .menu-div:hover {
	scale: 1.02;
	transition: 0.2s;
	background-color: #3a4337;
}

/*user item*/
.user-div {
	background-color: #2b3229;
	flex-shrink: 0;
	width: 100%;
	align-content: center;
	margin: 5px 0px 0px 0px;
}

.user-div p {
	margin: 1px;
}

.username {
	font-family: "Courier New", Courier, monospace;
	font-size: 1.5vw;
	margin: 2px;
	padding: 2px;
}

/*search page*/
#searchForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  margin: 5px;
  padding: 5px
}

#searchForm input{
  width: 100%;
  margin: 5px;
}

#searchForm label{
  width: 100%;
  margin: 5px;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2vw;
}

#searchForm #searchButton {
	background-color: #121412;
	color: rgb(205, 205, 205);
	text-align: center;
	border: none;
	padding: 10px;
}

#searchForm #searchButton:hover {
	scale: 1.05;
	transition: 0.3s;
	background-color: #2b3229;
}

#search-heading {
  width: 100%;
}

/* login page */
#loginButton {
    background-color: #121412;
    color: rgb(205, 205, 205);
    text-align: center;
    border: none;
    padding: 10px;
}
  
#loginButton:hover {
    scale: 1.05;
    transition: 0.3s;
    background-color: #2b3229;
}

/* edit menu list */

.edit-menu-div {
  flex-direction: column;
  display: flex;
  color: aliceblue;
}

.edit-button {
  margin: 0;
  padding: 5px;
}

.edit-menu-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* view menu things */
.view-menu-div {
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: center;
	flex-wrap: wrap;
	width: 50%;
}

.view-menu-div ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

/* edit menu */
#two-columns {
	display: flex;
	justify-content: space-between;

}

.box-left {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 50%;
	border-right: 2px solid #121412;
}

.box-right {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 50%;
}

.edit-menu-div {
		display: flex !important;
		margin: 0;
		padding: 0;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
}

.edit-menu-div ul{
	list-style-type: none;
	margin-right: 3vw;
	padding: 0;
	max-width: 100%;
}

#add-ingredient-btn {
	width: 100%;
	margin-top: 1vw;
	margin-bottom: 1vw;
}

#add-cocktail-form {
	margin-right: 3vw;
	max-width: 100%;
}

#add-cocktail-button {
	width: 100%;
	margin-top: 1vw;
	margin-bottom: 1vw;
}

.ingredient-pair-div {
	display: flex;
	justify-content: space-between;
}

.text-align-centre{
	text-align: center;
}

.search-div {
	display: flex;
	justify-content: right;
}

.search-div form {
	display: flex;
	flex-direction: column;
	width: 25vw;
	margin-bottom: 3vw ;
}

.search-div form input{
	margin-bottom: 1vw;
}

.search-div form label{
	margin-top: 1vw;
	margin-bottom: 1vw;
}


.search-div form label{
	color: aliceblue;
}

.result-list-div {
	display: flex !important;
	margin: 0;
	padding: 0;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

.result-list-div ul.cocktail-list{
list-style-type: none;
margin-left: 3vw;
padding: 0;
width: 100%;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.ingredient-list-item p {
	margin: 2px;
	padding: 1px;
}

.result-list-div ul.ingr-list{
	list-style-type: none;
	margin-left: 0;
	padding: 0;
	max-width: 100%;
	}

#error-container p {
	margin: 1px;
	padding: 1px;
}


